[Unit]
Description=Greenhouse Server
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/graham/GreenhouseController/greenhouseServer/greenhouseSvr.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
